
<div class="row">
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg4">					 
            <div class="wc-item">
                <h4 class="wc-title" style="font-size:1rem;">
                    Deposited:
                </h4>
                <span style="color:rgb(9, 9, 9);font-size:0.8rem">
                     {{current_date}}
                <span class="wc-stats counter">
                   
                    <h5 style="color: white; font-size:0.8rem;">
                        <a href="  ">N</a>
                        
                    </h5>
                    
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change" style="color:white; font-size:1rem;">
                        Number Deposited:
                    </span>
                    <span class="wc-number ml-auto" style="color:white; font-size:1rem;">
                       {{count_deposit_today}}
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg3">					 
            <div class="wc-item">
                <h4 class="wc-title" style="font-size:0.8rem;">
                    Withdrawn:
                </h4>
                <span style="color:black;font-size:0.8rem">
                     {{current_date}}
                </span>
                <span class="wc-stats counter">
                    <h5 style="color: rgb(243, 243, 247); font-size:0.8rem;">
                        <a href="  ">N</a>
                    </h5>
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change" style="font-size: 1rem;">
                        No Withdrawn:
                    </span>
                    <span class="wc-number ml-auto" style="font-size: 1rem;">
                        {{count_withdrawals_today}}
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg1">					 
            <div class="wc-item">
                <h4 class="wc-title" style="font-size:0.8rem;">
                  Total No. of Customers: {{number_of_customers}}
                </h4>
                <span style="color:rgb(179, 180, 175);font-size:0.8rem">
                    As of: {{current_date}}
                </span>
                <span class="wc-stats counter">
                   <h5 style="color: white; font-size:0.9rem;"> </h5>
                </span>	
                	
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change" style="font-size: 0.8rem;">
                        Their Total Bal.: 
                    </span>
                    <span class="wc-number ml-auto" style="font-size: 0.8rem; color:white;">
                        N
                    </span>
                </span>
            </div>				      
        </div>
    </div>
    
    <div class="col-md-6 col-lg-3 col-xl-3 col-sm-6 col-12">
        <div class="widget-card widget-bg2">					 
            <div class="wc-item">
                <h4 class="wc-title" style="font-size: 0.8rem;">
                     Requested:
                </h4>
                <span style="color:black;font-size:0.8rem">
                    For: {{tomorrow}}
                </span>
                <span class="wc-stats counter">
                   <h5 style="color: rgb(249, 247, 247); font-size:0.8rem;"> N </h5> 
                </span>		
                <div class="progress wc-progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <span class="wc-progress-bx">
                    <span class="wc-change" style="font-size: 1rem;">
                        Number of Request:
                    </span>
                    <span class="wc-number ml-auto" style="font-size: 1rem;">
                        {{count_withdrawal_request_today}}
                    </span>
                </span>
            </div>				      
        </div>
    </div>
   
    
</div>