{% load static %}

<div class="ttr-sidebar">
    <div class="ttr-sidebar-wrapper content-scroll">
        <!-- side menu logo start -->
        <div class="ttr-sidebar-logo">
            <a href="#"><img alt="" src="{% static 'dash_assets/images/logo.png' %}" width="122" height="27"></a>
            <!-- <div class="ttr-sidebar-pin-button" title="Pin/Unpin Menu">
                <i class="material-icons ttr-fixed-icon">gps_fixed</i>
                <i class="material-icons ttr-not-fixed-icon">gps_not_fixed</i>
            </div> -->
            <div class="ttr-sidebar-toggle-button"> 
                <i class="ti-arrow-left"></i>
            </div>
        </div>
        <!-- side menu logo end -->
        <!-- sidebar menu start -->
        <nav class="ttr-sidebar-navi">
            <ul>
                <li>
                    <a href="{% url 'account-dashboard' %}" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-home"></i></span>
                        <span class="ttr-label">Dashboard</span>
                    </a>
                </li>
                
                <!--Check if User is login and is also a staff and a superuser-->
                {% if user.is_authenticated and  user.profile.role == 'admin' or user.is_superuser %}
                <li>
                    <a href="#" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-user"></i></span>
                        <span class="ttr-label">User Management</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        <li>
                            <a href=" {% url 'account-create-management-staff' %} " class="ttr-material-button"><span class="ttr-label">Add Management Staff</span></a>
                        </li>
                        <li>
                            <a href=" {% url 'account-staff-list' %} " class="ttr-material-button"><span class="ttr-label">View Staff Users</span></a>
                        </li>
                    </ul>
                </li>
              
                <li>
                    <a href="#" class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-book"></i></span>
                        <span class="ttr-label">Reports</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        

                        <li>
                            <a href="  " class="ttr-material-button"><span class="ttr-label">Academic Session</span></a>
                        </li>

                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">School Teachers</span></a>
                        </li>
                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">Class Subjects</span></a>
                        </li>
                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">Class Arms</span></a>
                        </li>
                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">Form Masters</span></a>
                        </li>
                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">Results</span></a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href=" {% url 'account-change-password' %}" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Change Password</span>
                    </a>
                </li>

                <li>
                    <a href=" {% url 'account-logout' %} " class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-smile-o"></i></span>
                        <span class="ttr-label">User Logout</span></a>
                </li>

                {% elif user.is_authenticated and user.profile.role == 'manager' or user.profile.role == 'cashier' %}

                <li>
                    <a href="  " class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-user"></i></span>
                        <span class="ttr-label"> Create Account</span>
                    </a>
                </li>
                <li>
                    <a href="#" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-comments"></i></span>
                        <span class="ttr-label">Manage Customers</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                        

                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">Customers</span></a>
                        </li>

                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">Customer Request</span></a>
                        </li>
                        

                    </ul>
                </li>

                <li>
                    <a href="#" class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-book"></i></span>
                        <span class="ttr-label">Reports</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                      
                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">My Deposits</span></a>
                        </li>

                    </ul>
                </li>
                <li>
                    <a href="" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Change Password</span>
                    </a>
                </li>
             
                <li>
                    <a href=" {% url 'account-logout' %} " class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-smile-o"></i></span>
                        <span class="ttr-label">User Logout</span></a>
                </li>

                {% elif user.is_authenticated and user.customer.customer %}

                <li>
                    <a href="" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-comments"></i></span>
                        <span class="ttr-label">My Request</span></a>
                </li>


                <li>
                    <a href="#" class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-book"></i></span>
                        <span class="ttr-label">Reports</span>
                        <span class="ttr-arrow-icon"><i class="fa fa-angle-down"></i></span>
                    </a>
                    <ul>
                      
                        <li>
                            <a href=" " class="ttr-material-button"><span class="ttr-label">My Transactions</span></a>
                        </li>
                        
                    </ul>
                    
                </li>
                <li>
                    <a href="{% url 'account-change-password' %}" class="ttr-material-button">
                        <span class="ttr-icon"><i class="ti-layout-accordion-list"></i></span>
                        <span class="ttr-label">Change Password</span>
                    </a>
                </li>
             
                <li>
                    <a href=" {% url 'account-logout' %} " class="ttr-material-button">
                        <span class="ttr-icon"><i class="fa fa-smile-o"></i></span>
                        <span class="ttr-label">User Logout</span></a>
                </li>
                
                {% endif %}
               
                
               
               
                <li class="ttr-seperate"></li>
            </ul>
            <!-- sidebar menu end -->
        </nav>
        <!-- sidebar menu end -->
    </div>
</div>