{% extends 'login_base.html' %}

{% load static %}

{% block title %} 404 {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image: url('{% static 'assets/images/background/bg2.jpg' %}');">
			<a href="#"><img src="{% static 'assets/images/logo-white-2.png' %}" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container"> 
				<div class="heading-bx left">
					<h2 class="title-head">error <span>404</span></h2>
					
				</div>	
                <div class="container">
                    
                    <div class="error-message">Oops! The page you're looking for doesn't exist.</div>
                    <p><a class="home-link" href="{% url 'account-login' %} ">Go back to the home page</a></p>
                </div>
				
				
			</div>
		</div>
	</div>
</div>


{% endblock %}


    

