{% extends 'login_base.html' %}

{% load static %}

{% block title %} {{page_title}} {% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image: url('{% static 'assets/images/background/bg2.jpg' %}');">
			<a href="#"><img src="{% static 'assets/images/logo-white-2.png' %}" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container"> 
				<div class="heading-bx left">
					<h2 class="title-head">Activate School <span>Subscription</span></h2>
					
				</div>	
				<!--Alert Message Division-->
				{% include 'partials/_alerts.html' %}
				<!--Alert Message Division Ends-->
				<form class="contact-bx" method="POST">
					{% csrf_token %}

                    {{ form | crispy }}

                    <input class="btn btn-success" type="submit" value="Activate Subscription">
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}